<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

	<Properties>
		<Property name="logPath">test-results/logs</Property>
	</Properties>

	<Appenders>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>

		<RollingFile
				name="File"
				fileName="${logPath}/automation.log"
				filePattern="${logPath}/automation-%d{yyyy-MM-dd}.log">

			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="10MB"/>
			</Policies>

		</RollingFile>

	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</Root>
	</Loggers>

</Configuration>
